[submodule "SDL"]
	path = include/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "SDL2_gfx"]
	path = include/SDL2_gfx
	url = https://github.com/keera-studios/SDL2_gfx.git
[submodule "include/glew"]
	path = include/glew
	url = https://github.com/nigels-com/glew.git
